{% block _property_images_widget %}
	<p>Ici, vous pouvez ajouter vos propre images</p>

	{{form_widget(form)}}
	<div class="form_group">
		<button type='button' id="add-image" class="site-btn">Ajouter une image</button>

	</div>
{% endblock %}

{% block _property_images_entry_row %}
	{{form_widget(form)}}
{% endblock %}

{% block _property_images_entry_widget %}
	<div class="form-group" id="block_{{id}}">
		<div class="row">
			<div class="col-10">
				<div class="row">
					<div class="col">
						{{form_widget(form.url)}}
					</div>
					<div class="col">
						{{form_widget(form.caption)}}

					</div>
				</div>
			</div>

			<div class="col-2">
				<button type='button' data-action='delete' data-target="#block_{{id}}" class="btn btn-danger">X</button>
			</div>
		</div>

	</div>


{% endblock %}

{% block _property_description_widget %}
	<div class="pf-summernote">
		<h4>Content</h4>
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link texteditor-switch" data-toggle="tab" href="#tabs-1" role="tab">Text</a>
			</li>
			<li class="nav-item">
				<a class="nav-link texteditor-switch active" data-toggle="tab" href="#tabs-2" role="tab">Visual</a>
			</li>
		</ul>
		{{form_widget(form)}}
	</div>
{% endblock %}
