{% extends 'base.html.twig' %}

{% block title %}
	{{property.title}}
{% endblock %}

{% block body %}

	<!-- Property Details Section Begin -->
	<section class="property-details-section">
		<div
			class="property-pic-slider owl-carousel">
			{# {% for image in property.images %}
																																														<div class="ps-item">
																																															<div class="ps-item-inner large-item set-bg" data-setbg="{{image.url}}"></div>
																																														</div>
																																													{% endfor %} #}

			<div class="ps-item">
				<div class="ps-item-inner large-item set-bg" data-setbg="/img/property/slider/ps-1.jpg"></div>
			</div>
			<div class="ps-item">
				<div class="ps-item-inner large-item set-bg" data-setbg="/img/property/slider/ps-1.jpg"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<div class="pd-text">
						<div class="row">
							<div class="col-lg-6">
								<div class="pd-title">

									<div class="label">For rent</div>
									<div class="pt-price">{{property.price}}
										FCFA<span>/mois</span>
									</div>
									<h3>{{property.title}}</h3>
									<p>
										<span class="icon_pin_alt"></span>
										{{property.address}}</p>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="pd-social">
									<a href="#">
										<i class="fa fa-mail-forward"></i>
									</a>
									<a href="#">
										<i class="fa fa-send"></i>
									</a>
									<a href="#">
										<i class="fa fa-heart"></i>
									</a>
									<a href="#">
										<i class="fa fa-mail-forward"></i>
									</a>
									<a href="#">
										<i class="fa fa-cloud-download"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="pd-board">
							<div class="tab-board">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
											Carracteristiques</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Description</a>
									</li>

								</ul>
								<!-- Tab panes -->
								<div class="tab-content">
									<div class="tab-pane active" id="tabs-1" role="tabpanel">
										<div class="tab-details">
											<ul class="left-table">
												<li>
													<span class="type-name">Type D'usage</span>
													<span class="type-value">{{property.stringUsageType}}</span>
												</li>

												<li>
													<span class="type-name">Prix par mois</span>
													<span class="type-value">{{property.price}}
														/Mois</span>
												</li>

												<li>
													<span class="type-name">Vile</span>
													<span class="type-value">{{property.city}}</span>
												</li>
												<li>
													<span class="type-name">Address</span>
													<span class="type-value">{{property.address}}</span>
												</li>
											</ul>
											<ul class="right-table">
												<li>
													<span class="type-name">Surface Habitable</span>
													<span class="type-value">{{property.surface}}
														m2</span>
												</li>
												<li>
													<span class="type-name">Nombre de Piéce</span>
													<span class="type-value">{{property.rooms}}</span>
												</li>
												<li>
													<span class="type-name">Nombre de Chambre</span>
													<span class="type-value">{{property.badrooms}}</span>
												</li>

												<li>
													<span class="type-name">Code Postal</span>
													<span class="type-value">{{property.postalCode}}</span>
												</li>

											</ul>
										</div>
									</div>
									<div class="tab-pane" id="tabs-2" role="tabpanel">
										<div class="tab-desc">
											{{property.description | raw}}
										</div>
									</div>

								</div>
							</div>
						</div>


						<div class="pd-widget">
							<h4>Localisation</h4>
							<div class="map">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d735515.5813275519!2d-80.41163541934742!3d43.93644386501528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882a55bbf3de23d7%3A0x3ada5af229b47375!2sMono%2C%20ON%2C%20Canada!5e0!3m2!1sen!2sbd!4v1583262687289!5m2!1sen!2sbd" height="350" style="border:0;" allowfullscreen=""></iframe>
							</div>

						</div>


					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Property Details Section End -->

	{% include "footer.html.twig" %}


{% endblock %}
