{% extends "base.html.twig" %}

{% block title %}
	Biens et reservation
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/tab.css">
{% endblock %}

{% block body %}

	<!-- Breadcrumb Section Begin -->
	<section class="breadcrumb-section spad set-bg" data-setbg="/img/breadcrumb-bg.jpg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcrumb-text">
						<h4>Mes  Biens et Reservations</h4>
						<div class="bt-option">
							<a href="{{path('home')}}">
								<i class="fa fa-home"></i>
								Home</a>
							<span>Property</span>
						</div>
						<div class="row mt-2 d-flex flex-column">
							<div class="col-6">
								<button type="button" style='background : #00c89e; color:white;' class="btn  w-100">
									Propriétes
									<span class="badge badge-light">{{user.properties | length}}</span>
								</button>
							</div>

							<div class="col-6 mt-1">

								<button type="button" style='background : #00c89e; color:white;' class="btn  w-100 ">
									Réservations
									<span class="badge badge-light">0</span>
								</button>
							</div>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="tab">

		<ul class="tabs">
			<li>
				<a href="#">Mes Biens</a>
			</li>
			<li>
				<a href="#">Mes Reservations</a>
			</li>

		</ul>
		<!-- / tabs -->

		<div class="tab_content">

			<div class="tabs_item">

				<div class="container">
					<h4 class="mb-4">Liste de vos biens</h4>

					{% if user.properties | length > 0 %}
						<div class="row">
							{% for property in user.properties %}
								{% include "property/_property.html.twig" %}
							{% endfor %}
						</div>
					{% else %}
						<p class="mt-4">
							<strong>{{user.name}}</strong>
							n'a auccun bien pour le moment faire une demande de gestion
							<a href="{{path('property.create')}}">ici</a>.</p>

					{% endif %}

				</div>

			</div>
			<!-- / tabs_item -->

			<div class="tabs_item">


				{% if user.bookings | length > 0 %}
					<div class="row">
						{% for booking in app.user.bookings %}
							<div class="col-lg-4 col-md-6">
								<div class="property-item">
									<div class="pi-pic set-bg" data-setbg="{{booking.property.coverImage}}">
										<div class="label c-magenta">{{booking.property.stringUsageType}}</div>
									</div>
									<div class="pi-text">
										<div class="pt-price">
											{{booking.property.formattedPrice}}
											FCFA
											<span>/ Mois</span>
										</div>
										<h5>
											<a href="{{path('property.show', {id: booking.property.id, slug: booking.property.slug})}}">
												{{booking.property.title}}</a>
										</h5>
										<p>
											<span class="icon_pin_alt"></span>
											{{booking.property.city}}
											{{booking.property.address}}</p>
										<p>Status de la reservation :
											<span id='status success'>{{booking.bookingStatusValue}}
											</span>
										</p>
									</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<h4>Liste de vos Réservations</h4>
				<p class="mt-4">Auccune Réservation pour le moment voir notre
					<a href="{{path('property.index')}}">catalogue</a>.</p>
			{% endif %}

		</div>
	</div>
	<!-- / tabs_item -->


</div>
<!-- / tab_content --></div><!-- / tab -->{% include "footer.html.twig" %}{% block javascripts %}
<script src="/js/tab.js"></script>{% endblock %}{% endblock %}
